.selectCategory{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  .categoryDialog{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
    .selectCategory-header{
      width: 100%;
      height: 40px;
      background-color: #6495ED;
      padding-top: 5px;
      color: #ffffff;
      .close{
        float: right;
        margin-right: 5%;
      }
    }
    .selectCategory-content{
      .selectCategory-option{
        .swiper-container {
          width: 35%;
          height: 170px;
          display: inline-block;
          vertical-align: top;
          margin-right: 5%;
          .swiper-slide{
            font-size: 16px;
            color: #e2e2e2;
            .hr{
              width: 100%;
              height: 1px;
              background-color: #e2e2e2;
            }
          }
          .swiper-slide-active{
            color: #6495ED;
            .hr{
              background-color: #6495ED;
              height: 3px;
            }
          }
          .swiper-slide-next,.swiper-slide-prev{
            color:#000000;
            .hr{
              background-color: #000000;
            }
          }
        }
        #category{
          .swiper-slide{
            .hr{
              margin-top: 8px;
            }
          }
        }
        #category_detail{
          width: 45%;
          margin-right: 0;
          .swiper-slide{
            text-align: left;
            i{
              font-size: 28px;
              position: absolute;
            }
            span{
              margin-left: 30%;
            }
            .hr{
              margin-top: 8px;
            }
          }
        }
      }
      .selectCategory-footer{
        width: 100%;
        height: 45px;
        border-top: 1px solid #000000;
        box-shadow: 5px 0 10px #000000;
        background-color: #eeeeee;
        .cancel{
          width: 45%;
          height: 45px;
          display: inline-block;
          border-right: 1px solid #000000;
          color: #6495ED;
        }
        .confirm{
          width: 45%;
          height: 45px;
          display: inline-block;
          color: #6495ED;
        }
      }
    }
  }
}
