.index{
  top: 50px;
  position: absolute;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  .index-header{
    width: 100%;
    height: auto;
    background-color: #6495ED;
    text-align: left;
    .index-header-left{
      display: inline-block;
      width: 22%;
      height: auto;
      border-right: 3px dotted #ffffff;
      text-align: center;
      vertical-align: top;
     h1{
        margin: 0;
        color: #ffffff;
        font-size: 23px;
        margin: 10px 0 10px 5px;
      }
      p{
        color: #ffffff;
        margin: 5px 5px 5px 5px;
      }
    }
    .index-header-right{
      display: inline-block;
      width: 74%;
      height: auto;
      vertical-align: top;
      h3{
        margin: 0;
        color: #ffffff;
        margin: 10px;
      }
      p{
        color: #ffffff;
        margin: 15px 0 5px 0;
      }
    }
  }
  .index-list{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
      .list-option-income{
        display: inline-block;
        width: 25%;
        height: 30px;
        border-radius: 15px 0 0 15px;
        border: 1px solid #6495ED;
        background-color: #ffffff;
        color: #6495ED;
        text-align: center;
        vertical-align: top;
        margin-top: 15px;
        p{
          margin: 5px 0 5px 0;
        }
      }
      .list-option-spend{
        display: inline-block;
        width: 25%;
        height: 30px;
        vertical-align: top;
        border-radius: 0 15px 15px 0;
        margin-top: 15px;
        margin-left: -4px;
        border: 1px solid #6495ED;
        background-color: #ffffff;
        color: #6495ED;
        p{
          margin: 5px 0 5px 0;
        }
      }
    .native{
      color: #ffffff;
      background-color: #6495ED;
    }
    .index-content{
      width: 100%;
      height: auto;
      ul{
        width: 100%;
        list-style: none;
        text-align: left;
        padding: 0;
        border-top: 1px solid #eeeeee;
        li{
          width: 100%;
          border-bottom: 2px solid #eeeeee;
          padding: 5px;
          background-color: #ffffff;
          .logo{
            display: inline-block;
            width: 10%;
            margin: 0px 5px 5px 5px;
            color: #696969;
            i{
              font-size: 28px;
            }
          }
          .list-content{
            display: inline-block;
            width: 48%;
            color:#000000;
            vertical-align: top;
            p{
              margin: 0;
            }
          }
          .count{
            width: 21%;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            margin-right: 5%;
            h3{
              margin: 0;
            }
          }
          .more{
            display: inline-block;
            width: 5%;
            vertical-align: top;
          }
          .detail{
            width: 100%;
            height: auto;
            display: none;
            p{
              margin: 0;
              font-size: 13px;
            }
            .operate{
              width: 100%;
              height: auto;
              .edit{
                width: 15%;
                height: auto;
                color:#ffffff;
                background-color: #006400;
                padding: 5px;
                margin: 5px;
                border-radius: 10px;
                display: inline-block;
                text-align: center;
              }
              .delete{
                width: 15%;
                height: auto;
                color:#ffffff;
                background-color: #FF4500;
                padding: 5px;
                margin: 5px;
                border-radius: 10px;
                display: inline-block;
                text-align: center;
              }
              .account_logo{
                width: 50%;
                height: auto;
                display: inline-block;
                text-align: right;
                i{
                  font-size: 20px;
                }
              }
            }
          }
          &:last-child{
            background-color: #eeeeee;
            height: 80px;
            #nothing{
              text-align: center;
              margin: 0px 0px 10px 0px;
              color: #2c3e50;
            }
            .record{
              position: fixed;
              width: 40px;
              height: 40px;
              background-color: #6495ED;
              padding: 10px;
              box-shadow: 2px 2px 7px #000000;
              bottom: 30%;
              color: #ffffff;
              border-radius: 50%;
              right: 2%;
              opacity: 0.7;
              i{
                margin-left: 10px;
              }
            }
          }
        }
        #empty{
          width: 100%;
          height: auto;
          text-align: center;
          padding: 20px 0 20px 0;
          color:#e2e2e2;
          p{
            color:#000000;
          }
        }
      }
    }
    }
}
